<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>title</title>
</head>

<body>
    <div class="main_div">




        <nav>
            <div class="left_menu">
                <ul id="menu">
                    <li> <a href="#">hello</a></li>
                    <li> <a href="#">how</a> </li>

                    <li><a href="#">here</a></li>
                </ul>
            </div>
            <div class="right_menu">
                <ul id="profile">
                    <li> <a href="#">a</a></li>
                    <li> <a href="#">b</a></li>
                    <li> <a href="#">c</a></li>
                    <li><a href="#">d</a></li>
                </ul>
            </div>

        </nav>



        <div class="inner_main_div" id="middle_1">
            <div class="inner_i_main_div" id="inner_middle_1_left_1"></div>
            <div class="inner_i_main_div" id="inner_middle_1_middle_1">
                <% const link =    `https://www.youtube.com/embed/${id}`; %>
                    <%-`<iframe width="50%" height="35%" src=${link}>` %>
                        </iframe>
            </div>
            <div class="inner_i_main_div" id="inner_middle_1_right_1"></div>

        </div>
        <div class="inner_main_div" id="bottom_1">

        </div>
    </div>
</body>

</html>