<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>title</title>
</head>

<body>
    <div class="main_div">
        <nav>
            <div class="left_menu">
                <ul id="menu">
                    <li> <a href="#">Logo</a></li>



                </ul>
            </div>
            <div class="right_menu">
                <ul id="profile">
                    <li> <a href="#">Sign Up</a></li>
                    <li> <a href="#">Login</a></li>
                    <li> <a href="#">favourite</a></li>
                    <li><a href="#">Log Out</a></li>
                </ul>
            </div>

        </nav>



        <div class="inner_main_div" id="middle_1">
            <div class="inner_i_main_div" id="inner_middle_1_left_1"></div>
            <div class="inner_i_main_div" id="inner_middle_1_middle_1">
                <% for(var i = 0; i<data.table.length*3 ; ++i){ %>
                    <% const link =    `https://www.youtube.com/embed/${data.table[i%data.table.length].id}`; %>

                        <%-`<div class="video_div" id="video_div_${i}"> <iframe class = "video" id="video_"${i}  src=${link}></iframe>` %>
                            <%- `<h1>video ${i+1}</h1></div>` %>
                                <% }%>

            </div>
            <div class="inner_i_main_div" id="inner_middle_1_right_1">
                <ol>
                    <% for(var i = 0; i<data.table.length*3; ++i){ %>
                        <%- `<li><a href="#video_div_${i}" >${vocab[i%vocab.length]} </a></li> `%>
                            <% } %>
                </ol>
            </div>

        </div>

    </div>
</body>

</html>